.DemoIcon {
  background-color: currentColor;
  border-radius: 50%;
  color: rgb(var(--theme-color-neutral-400));
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
}

.DemoIconOutlined {
  background-color: transparent;
  border: 1px solid currentColor;
}
