.DemoButton {
  background-color: rgb(var(--theme-color-neutral-400));
  border-radius: 0.35rem;
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 0.15rem;
  align-items: center;
  padding: 0 0.25rem;
  font-size: 0.5rem;
  height: 1.1rem;
  width: 3rem;
}

.DemoButton.DemoButtonCircle {
  border-radius: 50%;
  width: 1.1rem;
}

.DemoButton.DemoButtonOutlined {
  background-color: transparent;
  border: 1px solid rgb(var(--theme-color-neutral-400));
}

.DemoButton.DemoButtonColored {
  background-color: rgb(var(--theme-color-primary-500));
}

.DemoButton.DemoButtonColored.DemoButtonOutlined {
  border-color: rgb(var(--theme-color-primary-500));
}
