.demoWindowContainer {
  margin: 0;
}

.demoWindow {
  background-color: rgb(var(--theme-color-background));
  border-radius: 0.6rem;
  box-shadow:
    0rem 0rem 0.75rem 0
      color-mix(in srgb, rgb(var(--theme-color-neutral-800)) 20%, transparent),
    0rem 0.25rem 0.75rem 0
      color-mix(in srgb, rgb(var(--theme-color-neutral-800)) 20%, transparent);
  display: flex;
  flex-flow: column nowrap;
  height: 12.5rem;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 20rem;
}

.demoWindow3D {
  /* TODO: support 3D window from example */
  /* source: https://polypane.app/css-3d-transform-examples/ */
  transform: rotateX(51deg) rotateZ(43deg);
  transform-style: preserve-3d;
  box-shadow:
    1px 1px 0 1px rgb(var(--theme-color-background)),
    -1px 0 28px 0 color-mix(in srgb, rgb(var(--theme-color-foreground)) 10%, transparent),
    28px 28px 28px 0
      color-mix(in srgb, rgb(var(--theme-color-foreground)) 25%, transparent);
  transition:
    0.4s ease-in-out transform,
    0.4s ease-in-out box-shadow;

  &:hover {
    transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
    box-shadow:
      1px 1px 0 1px rgb(var(--theme-color-background)),
      -1px 0 28px 0 color-mix(in srgb, rgb(var(--theme-color-foreground)) 10%, transparent),
      54px 54px 28px -10px color-mix(in srgb, rgb(var(--theme-color-foreground))
            15%, transparent);
  }
}

.demoWindowCaption {
  margin-bottom: 1rem;
  text-align: center;
}

.demoWindowShadow {
  background-color: rgb(var(--theme-color-neutral-800));
  border-radius: 50%;
  filter: blur(0.5rem);
  height: 1rem;
  opacity: 0.2;
  margin: 1rem auto 0;
  transform: perspective(1rem) rotateX(0deg) scale(0.8, 0.35);
}

.demoWindowTabBar {
  align-items: flex-end;
  background-color: rgb(var(--theme-color-neutral-100));
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
}

.demoWindowButtons {
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  padding: 0 0.6rem;
}

.demoWindowButton {
  background-color: rgb(var(--theme-color-neutral-500));
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.demoWindowButtonRed {
  background-color: var(--color-red-500);
}

.demoWindowButtonYellow {
  background-color: var(--color-yellow-500);
}

.demoWindowButtonGreen {
  background-color: var(--color-green-500);
}

.demoWindowTab {
  background-color: rgb(var(--theme-color-neutral-200));
  border-radius: 0.5rem 0.5rem 0 0;
  height: 1.1rem;
  margin-top: 0.25rem;
  width: 5rem;
}

.demoWindowAddressBar {
  background-color: rgb(var(--theme-color-neutral-200));
  border-bottom: 1px solid rgb(var(--theme-color-neutral-300));
  flex: 0 0 auto;
  height: 1.15rem;
}

.demoWindowBody {
  background-color: rgb(var(--theme-color-background));
  color: rgb(var(--theme-color-foreground));
  flex: 1 1 auto;
  position: relative;
}

.demoWindowBodyCentered {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

@keyframes flashVisible {
  0%,
  50%,
  100% {
    opacity: 20%;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.demoWindowClickOverlay {
  background-color: rgb(var(--theme-color-foreground));
  inset: 0;
  opacity: 0;
  position: absolute;
}

.demoWindowClickOverlay.Clicked {
  animation: flashVisible 1s;
  animation-fill-mode: forwards;
}

.demoWindowFlyoutList {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition-duration: 0.2s;
  transition-property: opacity, transform;
  width: 5rem;
}

.demoWindowFlyoutList.Opened {
  background-color: rgb(var(--theme-color-neutral-300));
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.demoWindowFlyoutItem {
  height: 1rem;
  width: 100%;
}

.demoWindowFlyoutItem.Selected {
  background-color: rgb(var(--theme-color-neutral-400));
}
