.DemoHero {
  background-color: rgb(var(--theme-color-neutral-200));
  height: 60%;
  position: relative;
  width: 100%;
}

.DemoHeroColored {
  background-color: rgb(var(--theme-color-primary-500));
}
