:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  --glow-conic: conic-gradient(
    from 180deg at 50% 50%,
    #2a8af6 0deg,
    #a853ba 180deg,
    #e92a67 360deg
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.focus-tracker-indicator {
  box-sizing: content-box;
  /* border: 3px solid currentColor; */
  outline: 3px solid currentColor;
  color: #03a6f4;
  /* padding: 2px; */
  /* margin: -5px; */
  /* margin: -3px; */
}

.focus-tracker-indicator.blue {
  color: #2a8af6;
}

.focus-tracker-indicator.purple {
  color: #a853ba;
}

.focus-tracker-indicator.purple-blue {
  color: color-mix(in hsl, #a853ba 50%, #2a8af6 50%);
}

.focus-tracker-indicator.red-purple {
  color: color-mix(in hsl, #e92a67 50%, #a853ba 50%);
}

.focus-tracker-indicator.red {
  color: #e92a67;
}

.focus-tracker-indicator.glow {
  box-shadow: currentColor 0px 0px 8px 4px;
}

.focus-tracker-visible .focus-tracker-indicator {
  opacity: 1;
}
