:root,
html[data-theme='dark'] {
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-navbar-link-color: inherit;
  --ifm-navbar-link-hover-color: var(--ifm-color-primary);
}

.navbar {
  color: rgb(var(--theme-color-neutral-600));
}

.navbar--fixed-top {
  /* backdrop-filter: blur(8px);
  background-color: color-mix(
    in srgb,
    rgb(var(--theme-color-background)) 75%,
    transparent
  ); */
  /* box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5); */
  border-bottom: 1px solid rgb(var(--theme-color-neutral-500));
}

.navbar .clean-btn:hover {
  background: transparent;
  color: rgb(var(--theme-color-neutral-950));
}

.navbar__brand {
  color: rgb(var(--theme-color-foreground));
}

.navbar__brand:hover {
  color: rgb(var(--theme-color-primary-500));
}

.navbar__items {
  gap: 0.5rem;
}

.navbar__item {
  color: inherit;
}

.navbar__link:hover {
  color: rgb(var(--theme-color-neutral-950));
}

.navbar__icon-button {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  height: 2rem;
  padding: 0;
}

.navbar__icon-button svg {
  height: 24px;
  width: 24px;
}

.navbar__items .navbar__icon-button {
  width: 2rem;
  justify-content: center;
}

.navbar__items .navbar__icon-button--circle {
  border-radius: 50%;
}

.navbar__items .navbar__icon-button-label {
  display: none;
}

.menu__list .navbar__icon-button {
  padding: 0 var(--ifm-menu-link-padding-horizontal);
}

.navbar-sidebar {
  /* width: 100%; */
}

@media screen and (max-width: 996px) {
  .navbar__items .navbar__icon-button {
    display: none;
  }
}
