/**
  Assigns context to colors.
  Rather than moving from light to dark, the color scale moves from background (100) to foreground (900).
*/

:root {
  --theme-color-background: var(--color-slate-50);
  --theme-color-neutral-50: var(--color-slate-50);
  --theme-color-neutral-100: var(--color-slate-100);
  --theme-color-neutral-200: var(--color-slate-200);
  --theme-color-neutral-300: var(--color-slate-300);
  --theme-color-neutral-400: var(--color-slate-400);
  --theme-color-neutral-500: var(--color-slate-500);
  --theme-color-neutral-600: var(--color-slate-600);
  --theme-color-neutral-700: var(--color-slate-700);
  --theme-color-neutral-800: var(--color-slate-800);
  --theme-color-neutral-900: var(--color-slate-900);
  --theme-color-neutral-950: var(--color-slate-950);
  --theme-color-foreground: var(--color-slate-950);

  --theme-color-primary-100: var(--color-blue-100);
  --theme-color-primary-300: var(--color-blue-300);
  --theme-color-primary-500: var(--color-blue-500);
  --theme-color-primary-700: var(--color-blue-700);
  --theme-color-primary-900: var(--color-blue-900);

  --theme-color-secondary-100: var(--color-sky-100);
  --theme-color-secondary-300: var(--color-sky-300);
  --theme-color-secondary-500: var(--color-sky-500);
  --theme-color-secondary-700: var(--color-sky-700);
  --theme-color-secondary-900: var(--color-sky-900);

  --theme-color-tertiary-100: var(--color-cyan-100);
  --theme-color-tertiary-300: var(--color-cyan-300);
  --theme-color-tertiary-500: var(--color-cyan-500);
  --theme-color-tertiary-700: var(--color-cyan-700);
  --theme-color-tertiary-900: var(--color-cyan-900);

  --theme-color-web-foreground: 1 90 156;
  --theme-color-web-background: 255 255 255;

  --theme-color-nodejs-foreground: 95 160 79;
  --theme-color-nodejs-background: 13 18 28;

  --theme-color-react-foreground: 88 196 220;
  --theme-color-react-background: 35 39 47;
}

[data-theme='dark'] {
  --theme-color-background: var(--color-slate-900);
  --theme-color-neutral-50: var(--color-slate-950);
  --theme-color-neutral-100: var(--color-slate-900);
  --theme-color-neutral-200: var(--color-slate-800);
  --theme-color-neutral-300: var(--color-slate-700);
  --theme-color-neutral-400: var(--color-slate-600);
  --theme-color-neutral-500: var(--color-slate-500);
  --theme-color-neutral-600: var(--color-slate-400);
  --theme-color-neutral-700: var(--color-slate-300);
  --theme-color-neutral-800: var(--color-slate-200);
  --theme-color-neutral-900: var(--color-slate-100);
  --theme-color-neutral-950: var(--color-slate-50);
  --theme-color-foreground: var(--color-slate-100);

  --theme-color-primary-100: var(--color-cyan-900);
  --theme-color-primary-300: var(--color-cyan-700);
  --theme-color-primary-500: var(--color-cyan-500);
  --theme-color-primary-700: var(--color-cyan-300);
  --theme-color-primary-900: var(--color-cyan-100);

  --theme-color-secondary-100: var(--color-sky-900);
  --theme-color-secondary-300: var(--color-sky-700);
  --theme-color-secondary-500: var(--color-sky-500);
  --theme-color-secondary-700: var(--color-sky-300);
  --theme-color-secondary-900: var(--color-sky-100);

  --theme-color-tertiary-100: var(--color-blue-900);
  --theme-color-tertiary-300: var(--color-blue-700);
  --theme-color-tertiary-500: var(--color-blue-500);
  --theme-color-tertiary-700: var(--color-blue-300);
  --theme-color-tertiary-900: var(--color-blue-100);
}
