/**
  Assigns context to colors.
  Rather than moving from light to dark, the color scale moves from background (100) to foreground (900).
*/

:root {
  --theme-color-background: var(--color-slate-50);
  --theme-color-neutral-50: var(--color-slate-50);
  --theme-color-neutral-100: var(--color-slate-100);
  --theme-color-neutral-200: var(--color-slate-200);
  --theme-color-neutral-300: var(--color-slate-300);
  --theme-color-neutral-400: var(--color-slate-400);
  --theme-color-neutral-500: var(--color-slate-500);
  --theme-color-neutral-600: var(--color-slate-600);
  --theme-color-neutral-700: var(--color-slate-700);
  --theme-color-neutral-800: var(--color-slate-800);
  --theme-color-neutral-900: var(--color-slate-900);
  --theme-color-neutral-950: var(--color-slate-950);
  --theme-color-foreground: var(--color-slate-950);

  --theme-color-primary-50: var(--color-rose-50);
  --theme-color-primary-100: var(--color-rose-100);
  --theme-color-primary-200: var(--color-rose-200);
  --theme-color-primary-300: var(--color-rose-300);
  --theme-color-primary-400: var(--color-rose-400);
  --theme-color-primary-500: var(--color-rose-500);
  --theme-color-primary-600: var(--color-rose-600);
  --theme-color-primary-700: var(--color-rose-700);
  --theme-color-primary-800: var(--color-rose-800);
  --theme-color-primary-900: var(--color-rose-900);
  --theme-color-primary-950: var(--color-rose-950);

  --theme-color-tertiary-500: var(--color-amber-500);
}

[data-theme='dark'] {
  --theme-color-background: var(--color-stone-900);
  --theme-color-neutral-50: var(--color-stone-950);
  --theme-color-neutral-100: var(--color-stone-900);
  --theme-color-neutral-200: var(--color-stone-800);
  --theme-color-neutral-300: var(--color-stone-700);
  --theme-color-neutral-400: var(--color-stone-600);
  --theme-color-neutral-500: var(--color-stone-500);
  --theme-color-neutral-600: var(--color-stone-400);
  --theme-color-neutral-700: var(--color-stone-300);
  --theme-color-neutral-800: var(--color-stone-200);
  --theme-color-neutral-900: var(--color-stone-100);
  --theme-color-neutral-950: var(--color-stone-50);
  --theme-color-foreground: var(--color-stone-100);

  --theme-color-primary-50: var(--color-amber-950);
  --theme-color-primary-100: var(--color-amber-900);
  --theme-color-primary-200: var(--color-amber-800);
  --theme-color-primary-300: var(--color-amber-700);
  --theme-color-primary-400: var(--color-amber-600);
  --theme-color-primary-500: var(--color-amber-500);
  --theme-color-primary-600: var(--color-amber-400);
  --theme-color-primary-700: var(--color-amber-300);
  --theme-color-primary-800: var(--color-amber-200);
  --theme-color-primary-900: var(--color-amber-100);
  --theme-color-primary-950: var(--color-amber-50);

  --theme-color-tertiary-500: var(--color-rose-500);
}
