/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.siteTitle {
  background-clip: text;
  background-image: linear-gradient(
    135deg,
    var(--theme-color-primary-500),
    var(--theme-color-tertiary-500)
  );
  color: transparent;
  display: inline-block;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.heroBanner {
  overflow: hidden;
  padding: 4rem 0;
  text-align: center;
}

.heroBannerTitle {
  font-size: 2rem;
}

.heroContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.heroContent {
  flex: 1 1 50%;
}

.heroDemo {
  display: flex;
  flex: 1 1 50%;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .heroContainer {
    flex-flow: column nowrap;
  }

  .heroDemo {
    padding-top: 5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
